@import "../../../../../../../base/styles/theme.scss";

$multilineheight: 300px;

@each $key,
$value in $common-themes {
    .#{$key} {
        load-master-change-queue-modal {
            button {
                border-radius: 0px;
            }
            .load-master-change-queue-modal-wrapper {
                width: 100%;
                height: 100%;
                max-height: 70vh;
                position: relative;
                overflow-x: hidden;
                overflow-y: auto;
                display: flex;
                flex-direction: column;

                .main-fields {
                    overflow: hidden;
                    height: 100%;
                    position: relative;
                    padding-bottom: 10px;

                    .field-row {
                        .label {
                            line-height: 32px;
                            height: 32px;
                            width: 100px;
                            display: inline-block;
                            vertical-align: top;
                        }
                        .value {
                            line-height: 32px;
                            height: 32px;
                            width: calc(100% - 100px);
                            display: inline-block;
                            vertical-align: top;

                            input[type="text"],
                            input[type="number"] {
                                width: 100%;
                                height: 24px;
                            }
                        }
                    }
                }
            }

            .overlay-wrapper {
                display: none;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: getThemeColor(3, $key);
                overflow: hidden;
                z-index: 5;

                .spinner {
                    width: 80px;
                    height: 80px;
                    border-width: 8px;
                    margin: 0 auto;
                    position: relative;
                    top: calc(50% - 40px);
                }
            }
        }
    }
}
