@import "../../../../../../views/base/styles/theme";
@each $key, $value in $common-themes {
  .#{$key} {
    .doaction-row-formatter {
      .doactionbtn {
        background-color: transparent;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        width: 26px;
        height: 26px;
        padding: 0;
        line-height: 20px;
        opacity: 0.5;
        display: flex;
        margin: auto;
        &:hover {
          opacity: 1;
        }
        i {
          display: flex;
          margin: auto;
          line-height: 20px;
            font-size: 16px;
        }
      }
    }
  }
}
