@import "../../../../../../views/base/styles/theme";
@each $key, $value in $common-themes {
  .#{$key} {
    .delete-row-formatter {
      .closebtn {
        background-color: transparent;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        width: 26px;
        height: 26px;
        padding: 0;
        line-height: 20px;
        opacity: 0.7;
        display: flex;
        margin: auto;
        &:hover {
          background-color: getThemeColor(13, $key);
          opacity: 1;
        }
        i.icon {
          display: flex;
          margin: auto;
          line-height: 20px;
        }
      }
    }
  }
}
