@import "../../../../../../views/base/styles/theme.scss";

@each $key, $value in $common-themes {
    .#{$key} {
        .template-production {
            position: relative;

            .field-wrapper {
                width: 100%;
                height: 100%;
                overflow: auto;
                padding: 5px;
            }
            .field-row {
                display: flex;
                line-height: 30px;
                min-height: 40px;

                .label {
                    line-height: 30px;
                    width: 120px;
                }

                .value-wrapper:not(.select2wrapper) {
                    height: 30px;
                    line-height: 30px;
                    flex: 1;

                    input, select, span, button {
                        height: 30px !important;
                        line-height: 30px;
                        padding: 0 5px;
                    }

                    input {
                        width: 100%;
                    }

                    .status {
                        width: 10px;
                        height: 10px !important;
                        border: 1px solid getThemeColor(1, $key);
                        border-radius: 10px;
                        display: inline-block;
                        margin-right: 5px;
                        padding: 0;
                        background: getThemeColor(13, $key);

                        &.enabled {
                            border-color: getThemeColor(12, $key);
                            background: getThemeColor(12, $key);
                        }
                    }
                }

                .value-wrapper.select2wrapper {
                    height: 30px;
                    line-height: 30px;
                    width: calc(100% - 120px);

                    .select2-wrapper {
                        height: 30px;
                        line-height: 30px;
                        border: 2px solid getThemeColor(9, $key);

                        span {
                            height: 26px;
                            line-height: 26px;
                            vertical-align: top;

                            &.select2-selection__arrow {
                                margin-top: 3px;
                            }
                        }
                    }
                }
            }
            .modal-overlay {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: 10;
                background-color: getThemeColor(3, $key);

                .spinner {
                    width: 30px;
                    position: relative;
                    height: 30px;
                    margin-left: calc(50% - 15px);
                    top: calc(50% - 15px);
                }
            }
        }
    }
}
