<div class="task-logger-wrapper detail-page-wrapper task-clip-editor-wrapper">
    <div class="imfx-table detail">
        <div class="imfx-detail-btns imfx-logger-btns">
            <div class="btn-wrapper-left">
                <div class="back-btn-wrapper">
                    <button *ngIf="!isFirstLocation()" class="icon-button" title="{{ 'common.back_button' | translate }}"
                            (click)="clickBack()">
                                <i class="icons-left icon"></i>
                            </button>
                </div>
                <div class="title-wrapper">
                            <h1>
                                {{ 'rce.task_title' | translate }}
                            </h1>
                </div>
                <div class="tasks-control-buttons-wrap" *ngIf="!error">
                    <tasks-control-buttons #tasksControlButtons
                                           [status]="taskStatus"
                                           [taskId]="taskId"
                                           [statusText]="statusText"
                                           [reloadStatus]="reloadTaskStatus"
                                           [commonUpdateDetailSubject]="provider.commonUpdateDetailSubject"
                               [callback]="taskCallback"
                               [lockedBy]="taskLockedBy"></tasks-control-buttons>
                </div>
            </div>
            <div class="btn-wrapper-right" *ngIf="!error">
                <nav>
                    <ul>
                        <li>
                            <button class="preview" (click)="openPreview()">
                                Preview
                            </button>
                            <button class="history" (click)="history()">
                                {{ 'simple_assessment.history_button' | translate }}
                            </button>
                            <button class="button" title="{{ 'common.save' | translate }}" (click)="save()" [disabled]="isSaveButtonDisabled">
                              <span>
                                 {{ 'common.save' | translate }}
                              </span>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="imfx-row p-rel-h-full">
            <div class="golden-layout-detail">
                <golden-task-logger-layout *ngIf="(checkDetailExistance(config.options.file)) || isPopout"
                                           [config]="goldenConfig"
                                           [type]="'MediaDetails'"
                                           #glClipEditor>Loading...</golden-task-logger-layout>
            </div>
        </div>
    </div>
</div>
