@import "../../../../../../views/base/styles/theme.scss";

@each $key,
$value in $common-themes {
    .#{$key} {
        .audio-tab-col {
            display: flex;
            flex-direction: column;
            height: 100%;
            &__title {
                display: flex;
                align-items: center;
                padding: 0 6px;
                text-transform: capitalize;
                button {
                    text-transform: capitalize;
                }
            }
            &__table {
                height: 100%;
            }
        }
    }


}
