@import "../../../../../../views/base/styles/theme.scss";
@each $key,
$value in $common-themes {
    .#{$key} {
      imfx-attachments-tab {
        .h-tab-wrapper {
          padding: 10px;
          height: 100%;
          .download-viewer-wrapper, .download-viewer {
            padding: 0!important;
            a.button {
              height: 25px;
              line-height: 25px;
            }
          }
          .download-viewer-wrapper {
            margin-top: -3px;
          }
          .slick-cell {
            //z-index: 2000!important;
          }
        }
      }
    }
}
