@import "../../../../../../../base/styles/theme.scss";

@each $key, $value in $common-themes {
    .#{$key} {

        .service-config{
            height: 100%;
            display: flex;
            flex-direction: column;
            .add-btn-wrapper{
                flex-grow: 0;
            }
            .service-config-grid-wrapper{
                flex-grow: 1;
                flex-basis: 100%;
                overflow: hidden;
                padding-left: 10px;
            }
            .repeat-btn-wrapper{
                height: 100%;
            }

            .slick-grid-wrapper {
                .slick-header-column,
                .slick-group-header-column,
                .slick-header-column.ui-state-default,
                .slick-group-header-column.ui-state-default{
                    height: 30px;
                    line-height: inherit;
                }
                .slick-cell,
                .slick-headerrow-column,
                .slick-footerrow-column{
                    border: none;
                    border-right: 1px solid getThemeColor(22, $key);
                }
            }

            grid-column-remove-component .icons-closedelete{
                position: static;
                display: inline-block;
                margin-right: 14px;
            }
        }
    }
}
