@import "../../../../../../views/base/styles/theme";

@each $key,
$value in $common-themes {
    .#{$key} {
        image-link-formatter-comp {
            word-wrap: break-word;
            white-space: normal;

            span a, span a:hover {
                color: getThemeColor(16, $key) !important;
                text-decoration: underline !important;
            }
        }
        .img-link-wrapper {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            z-index: 150;
            background-color: rgba(0, 0, 0, 0.5);
            overflow: hidden;
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            cursor: pointer;
            width: 100%;
        }

        .img-link {
            max-height: 500px;
            max-width: 800px;
            margin: auto;
            position: relative;
            .close {
                opacity: 1!important;
                .icons-closedelete {
                    opacity: 0.8 !important;
                }
                .icon {
                    color: #f5f5f5;
                }
            }
            .close:hover .icon {
                background-color: getThemeColor(13, $key)
            }
        }
    }
}
