@import "../../../../../../../../../base/styles/theme.scss";

@each $key, $value in $common-themes {
    .#{$key} {

        .common-tab-grid {
            height: 100%;
            position: relative;
            &.editonly {
                padding-left: 16px;
            }

            .add-new-item {
                background: getThemeColor(4, $key);
                border: 1px solid getThemeColor(9, $key);
                position: absolute;
                width: 30px;
                height: 30px;
                line-height: 30px;
                padding: 0;
                z-index: 2;
                border-bottom: 0;
                right: 0;
                top: -29px;


                &:hover {
                    background: getThemeColor(5, $key);
                    .icon {
                        opacity: 1;
                    }
                }

                i {
                    transform: rotate(45deg);
                    display: block;
                    width: 100%;
                }
            }

            .common-tab-grid-wrapper{
                border: 1px solid getThemeColor(9, $key);
                width: 100%;
                height: 100%;
                background: getThemeColor(4, $key);
            }
            .slick-grid-wrapper {
                .slick-header-column,
                .slick-group-header-column,
                .slick-header-column.ui-state-default,
                .slick-group-header-column.ui-state-default{
                    height: 28px;
                    line-height: inherit;
                }
                .slick-cell,
                .slick-headerrow-column,
                .slick-footerrow-column{
                    border: none;
                    border-right: 1px solid getThemeColor(22, $key);
                }

                .slick-header-columns-left .slick-header-column:last-child, .grid-canvas-left .slick-cell:last-child {
                    border-right: none;
                }
            }

            grid-column-remove-component .icons-closedelete{
                position: static;
                display: inline-block;
                margin-right: 14px;
            }
        }
    }
}
