<div class="detail-page-wrapper assessment-wrapper">
    <div class="imfx-table detail">
        <div class="imfx-detail-btns imfx-logger-btns">
            <div class="btn-wrapper-left">
                <div class="back-btn-wrapper">
                    <button *ngIf="!isFirstLocation()" class="icon-button" title="{{ 'common.back_button' | translate }}"
                            (click)="clickBack()">
                        <i class="icons-left icon"></i>
                    </button>
                </div>
                <div class="title-wrapper">
                    <h1>
                        {{ 'simple_assessment.title' | translate }}
                    </h1>
                </div>
                <div class="tasks-control-buttons-wrap" *ngIf="!error">
                    <tasks-control-buttons #tasksControlButtons
                                           [status]="taskStatus"
                                           [taskId]="taskId"
                                           [statusText]="statusText"
                                           [reloadStatus]="reloadTaskStatus"
                                           [callback]="taskCallback"
                                           [commonUpdateDetailSubject]="provider.commonUpdateDetailSubject"
                                           [lockedBy]="taskLockedBy"></tasks-control-buttons>
                </div>
            </div>
            <div class="btn-wrapper-right" *ngIf="!error">
                <nav>
                    <ul>
                        <li *ngIf="isHasActions() && this.taskActionInProgress" class="actions-button dropdown">
                            <div class="spinner"></div>
                            <a class="loading-process">
                                {{ 'simple_assessment.actions_button' | translate }}
                            </a>
                        </li>
                        <li *ngIf="isHasActions() && !this.taskActionInProgress" class="actions-button dropdown" dropdown>
                            <a>
                                {{ 'simple_assessment.actions_button' | translate }}
                            </a>

                            <!--Actions dropdown-->
                            <ul *ngFor="let action of provider.taskFile.TechReport.Settings.General.TaskActionSettings.ActionSettings"
                                aria-labelledby="simple-btn-keyboard-nav"
                                class="submenu"
                                role="menu">
                                <li role="menuitem">
                                    <a class="dropdown-item" title="{{action.Label}}" (click)="doTaskAction(action.ActionId)">
                                        {{action.Label}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <button class="history" (click)="history()">
                                {{ 'simple_assessment.history_button' | translate }}
                            </button>
                            <button class="save" (click)="save()" [disabled]="isSaveButtonDisabled">
                                {{ 'simple_assessment.save_button' | translate }}
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="imfx-row p-rel-h-full">
            <div class="golden-layout-detail" *ngIf="!error">
                <golden-assessment-layout #glComponent
                                          *ngIf="config.options.showGolden"
                                          [config]="goldenConfig"
                                          [videoInfo]="videoInfo"
                                          [onSaveAssessment]="onSave"
                                          [onErrorSaveAssessment]="onErrorSave"
                                          (onUpdateMediaItems)="updateAndSaveMediaItems($event)">
                </golden-assessment-layout>
            </div>
            <div class="error-text error" *ngIf="error">
                <div style="    text-align: center;
    margin: auto;">
                    <h2>
                        {{text}}
                    </h2>
                    <div *ngIf="isErrorMoreInfo" class="err-more-btn" (click)="toggleMoreInfoPopup($event)"> {{ 'login.learn_more' | translate }}
                        <div class="err-info-popup">
                            <p *ngFor="let item of errorMoreInfoText.split('\n')">{{item}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
