@import "../../../../../../views/base/styles/theme.scss";
@each $key,
$value in $common-themes {
    .#{$key} {
        .media-info-tab-wrapper {
            padding: 10px;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;


            .common-columns, .custom-statuses{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                .col-item{
                    position: relative;
                    min-width: 150px;
                    max-width: 300px;
                    width: 100%;
                    display: inline-block;
                    margin-bottom: 1rem;
                    margin-right: 1rem;
                    imfx-lookups-select2{
                        height: 28px;
                        display: block;
                    }
                    .preview-icon {
                        position: absolute;
                        right: 20px;
                        top: 28px;
                        i {
                            opacity: 0.3;
                        }
                        .image-preview {
                            position: absolute;
                            right: -171px;
                            width: 150px;
                            height: 100px;
                            top: -6px;
                            background-size: contain;
                            display: none;
                        }
                        &:hover {
                            i {
                                opacity: 1;
                            }
                            .image-preview {
                                display: block;
                            }
                        }
                    }
                }
            }

            .custom-statuses {
                border-top: getThemeColor(22, $key) 1px solid;
                padding-top: 1rem;
            }

            .control-notes > textarea {
                height: 120px;
                resize: vertical;
                white-space: pre-wrap;
            }
            input.form-control {
                height: 28px;
                line-height: 28px;
                &:disabled {
                    opacity: 0.5;
                }
            }
        }
    }
}
