<div class="outgest-details-wrapper detail-page-wrapper" #outgestEl>
    <div class="imfx-table detail">
        <div class="imfx-detail-btns imfx-logger-btns">
            <div class="btn-wrapper-left">
                <div class="back-btn-wrapper">
                    <button *ngIf="!isFirstLocation()" class="icon-button" title="{{ 'common.back_button' | translate }}"
                            (click)="clickBack()">
                        <i class="icons-left icon"></i>
                    </button>
                </div>
                <div class="title-wrapper">
                        <h1 title="{{ 'outgest.title' | translate }}">
                            {{ 'outgest.title' | translate }}
                            <span *ngIf="details?.JobRef">-</span> {{details?.JobRef}}
                        </h1>
                </div>
                <div class="tasks-control-buttons-wrap" *ngIf="!error">
                    <tasks-control-buttons #tasksControlButtons
                                           [status]="taskStatus"
                                           [taskId]="taskId"
                                           [statusText]="statusText"
                                           [callback]="taskCallback"
                                           [commonUpdateDetailSubject]="commonUpdateDetailSubject"
                                           [reloadStatus]="reloadTaskStatus"></tasks-control-buttons>
                </div>
            </div>
            <div class="btn-wrapper-right" *ngIf="!error">
                <nav>
                    <ul>
                        <li>
                            <button class="history" (click)="history()">
                                {{ 'simple_assessment.history_button' | translate }}
                            </button>
<!--                            <button class="save" (click)="onSave()" [disabled]="isSaveButtonDisabled">-->
<!--                                {{ 'simple_assessment.save_button' | translate }}-->
<!--                            </button>-->
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

      <div class="imfx-row p-rel-h-full">
          <div *ngIf="!error" class="golden-layout-detail" style="height: 100%;">
              <golden-outgest-layout #glOutgest
                                         *ngIf="config.options.showGolden"
                                         [config]="goldenConfig"
                                        [layoutType]="layoutType">
              </golden-outgest-layout>
          </div>
          <div *ngIf="error"
               style="margin: auto; text-align: center;display: table-cell; vertical-align: middle;"
          >
              <h2>
                  {{text}}
              </h2>
          </div>
      </div>

    </div>
</div>
