@import "../../base/styles/theme.scss";
@each $key,
$value in $common-themes {
    .#{$key} {

        .media-grid {
            .tile-mode {
                [colid="THUMBURL"] {
                  .thumbnail-wrapper {
                    height: 150px!important;
                    width: 267px!important;
                    margin: -12px -12px 5px -12px;
                    max-width: none;
                    max-height: none;
                  }
                }
                .tile-field[colid="TITLE"],
                .tile-field[colid="MEDIA_FORMAT_text"],
                .tile-field[colid="DURATION_text"],
                .tile-field[colid="MEDIA_TYPE_text"] {
                    display: block;//table-row;
                    width: 243px!important;
                    height: 20px;
                    font-size: 12px;
                }
            }
        }
    }
}
