@import "../../../../../../views/base/styles/theme.scss";
@each $key,
$value in $common-themes {
    .#{$key} {
        .imfx-tasks-tab-wrapper {
            padding: 10px;
            height: 100%;
            width: 100%;
            .slick-grid-wrapper {
                .slick-cell.selected .select2-selection__rendered {
                    color: #FFFFFF!important;
                    &:hover {
                        color: getThemeColor(16, $key)!important;
                    }
                }
                .slick-row {
                    &.hover-row {
                        background: getThemeColor(3, $key);
                    }
                }
            }
        }
    }
}
