@import "../../../../base/styles/theme.scss";
@each $key,
$value in $common-themes {
    .#{$key} {
        .task-clip-editor-wrapper, .rce-wrapper {
            .tagging-tab-wrapper {
                position: absolute;
                bottom: 0;
                top: 35px;
                left: 0;
                right: 0;
                height: inherit;
                padding: 11px;
            }
            .vjs-marker.media-som-eom {
                top: 14px;
            }
        }
    }
}
