@import "../../../../../../../../../base/styles/theme.scss";
@each $key,
$value in $common-themes {
    .#{$key} {
        .settings-groups-advanced-associate-wrapper {
            height: 100%;
            display: flex;
            flex-direction: row;
            padding: 1rem;
            overflow: auto;

            .tabs-wrapper {
                flex: 1 0;
            }
            .results-wrapper{
                flex: 0 0 40%;
                min-width: 200px;
            }

            .tabs-head-item {
                padding-bottom: 3px;
                margin-right: 20px;
                cursor: pointer;
            }
            .tabs-body {
                padding-top: 20px;
            }
            .is-raise-workflow {
                margin-right: 10px;
            }

            .chosen-preset-title {
                min-width: 150px;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                background: getThemeColor(22, $key);
                color: getThemeColor(1, $key);
                cursor: pointer;
                padding: 4px;
                line-height: 11px;
                &:hover {
                    background: getThemeColor(6, $key);
                }
            }

            .adv-panel {
                width: 100%;
                display: inline-block;
                vertical-align: top;
                //overflow: auto;
                search-advanced {
                    .advanced.sidebar {
                        //max-height: 500px;
                        //overflow: auto;
                        padding: 0;
                    }
                    .angucomplete-overlay {
                        margin: 0;
                    }
                }
            }
            .wf-panel {
                .wf-panel-item {
                    display: inline-block;
                    margin-bottom: 1rem;
                    vertical-align: top;
                    label {
                        padding-right: 4px;
                    }
                }
            }
            .result-panel {
                width: 100%;
                display: inline-block;
                vertical-align: top;
                overflow: auto;
                position: relative;
                background: getThemeColor(4, $key);
                padding-right: 0px;
                padding-left: 5px;
                height: 100%;

                .angucomplete-overlay {
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 3;
                    margin: 12px;
                    background: getThemeColor(26, $key);
                    .suggestion-overlay {
                        position: relative;
                        width: 50px;
                        height: 50px;
                        display: block;
                        margin: 0 auto;
                        top: calc(50% - 25px);
                        span {
                            position: relative;
                            width: 100%;
                            height: 35px;
                            display: block;
                            margin: 0 auto;
                            top: calc(50% - 35px);
                            text-align: center;
                        }
                    }
                }

                .result-panel-wrapper {
                    width: 100%;
                    overflow: hidden;
                    .tab-content-row-blank {
                        background: transparent;
                        text-align: center;
                        padding: 25px;
                    }
                    .result-panel-content-wrapper {
                        width: 100%;
                        .color-back-wrapper {
                            background: getThemeColor(3, $key);
                            width: 100%;
                            overflow-x: hidden;
                            overflow-y: auto;
                            .tab-content-row {
                                height: 24px;
                                line-height: 24px;
                                cursor: pointer;
                                width: 100%;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                border-bottom: 1px solid getThemeColor(4, $key);
                                padding: 0 5px;
                                color: getThemeColor(1, $key);

                                span {
                                    display: inline-block;
                                    &:not(.left-span) {
                                        padding-left: 5px;
                                    }
                                    &.left-span {
                                        width: 80px;
                                        border-right: 1px solid getThemeColor(4, $key);
                                    }
                                }

                                &.selected {
                                    background: getThemeColor(10, $key);
                                    color: #fff;
                                }

                                &:hover {
                                    background: getThemeColor(4, $key);
                                    color: getThemeColor(1, $key);
                                    span {
                                        &.left-span {
                                            border-right: 1px solid getThemeColor(3, $key);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
