@import "../../../../../../views/base/styles/theme.scss";
@each $key,
$value in $common-themes {
    .#{$key} {
        imfx-file-browser-tab{
            .slick-grid-wrapper .slick-viewport.slick-viewport-left {
                overflow-x: auto !important;
            }
            .imfx-file-browser-wrapper {
                padding: 10px;
                height: 100%;
                display:flex;
                flex-direction: column;
                .path-wrapper {
                    flex-direction: row;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 1em;
                    h1 {
                        line-height: 20px;
                    }
                }
                .grid-wrapper {
                    height: calc(100% - 32px);
                    position: relative;
                    margin-top: 0;
                    .modal-overlay {
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        background: getThemeColor(4, $key);

                        .spinner {
                            width: 50px;
                            height: 50px;
                            display: block;
                            position: absolute;
                            left: calc(50% - 25px);
                            top: calc(50% - 25px);
                        }
                    }
                }
            }
        }

    }
}
