@import "../../../../views/base/styles/theme.scss";

@each $key,
$value in $common-themes {
  .#{$key} {
      .viewer-wrapper-code-prettify {
          height: 100%;
          background: #fff;
          .prettyprint.language-xml {
              height: 100%;
          }
          .min-max-btn {
              left: 1%;
              position: absolute;
              bottom: 20px;
          }
      }
      .viewer-wrapper-code-prettify.notFullSize {
          position: absolute;
          width: 100%;
          height: 100%;
          //z-index: 0;
      }
      .viewer-wrapper-code-prettify.fullSize {
          position: fixed;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          z-index: 150;
          //padding-top: 49px;
          margin: 0;
          padding: 1%;
          background: getThemeColor(3, $key);
      }

      .previewButton {
          background: none;
          opacity: 1;
          color: getThemeColor(1, $key);
          &:hover {
              background: none;
              box-shadow: none;
          }
          i {
              position: relative;
              top: -2px;
          }
      }
      // common pretty styles
      .pln {
          color: #000
      }
      @media screen {
          .str {
              color: #080
          }
          .kwd {
              color: #008
          }
          .com {
              color: #800
          }
          .typ {
              color: #606
          }
          .lit {
              color: #066
          }
          .pun, .opn, .clo {
              color: #660
          }
          .tag {
              color: #008
          }
          .atn {
              color: #606
          }
          .atv {
              color: #080
          }
          .dec, .var {
              color: #606
          }
          .fun {
              color: red
          }
      }
      @media print, projection {
          .str {
              color: #060
          }
          .kwd {
              color: #006;
              font-weight: bold
          }
          .com {
              color: #600;
              font-style: italic
          }
          .typ {
              color: #404;
              font-weight: bold
          }
          .lit {
              color: #044
          }
          .pun, .opn, .clo {
              color: #440
          }
          .tag {
              color: #006;
              font-weight: bold
          }
          .atn {
              color: #404
          }
          .atv {
              color: #060
          }
      }
      pre.prettyprint {
          padding: 2px;
          border: 1px solid #888
      }
      ol.linenums {
          margin-top: 0;
          margin-bottom: 0
      }
      li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
          list-style-type: none
      }
      li.L1, li.L3, li.L5, li.L7, li.L9 {
          background: #eee
      }
      // theme
      .str {
          color: #ec7600
      }
      .kwd {
          color: #93c763
      }
      .com {
          color: #66747b
      }
      .typ {
          color: #678cb1
      }
      .lit {
          color: #facd22
      }
      .pun {
          color: #f1f2f3
      }
      .pln {
          color: #f1f2f3
      }
      .tag {
          color: #8ac763
      }
      .atn {
          color: #e0e2e4
      }
      .atv {
          color: #ec7600
      }
      .dec {
          color: purple
      }
      pre.prettyprint {
          border: 0 solid #888
      }
      ol.linenums {
          margin-top: 0;
          margin-bottom: 0
      }
      .prettyprint {
          background: #000
      }
      li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
          color: #555;
          list-style-type: decimal
      }
      li.L1, li.L3, li.L5, li.L7, li.L9 {
          background: #111
      }
      @media print {
          .str {
              color: #060
          }
          .kwd {
              color: #006;
              font-weight: bold
          }
          .com {
              color: #600;
              font-style: italic
          }
          .typ {
              color: #404;
              font-weight: bold
          }
          .lit {
              color: #044
          }
          .pun {
              color: #440
          }
          .pln {
              color: #000
          }
          .tag {
              color: #006;
              font-weight: bold
          }
          .atn {
              color: #404
          }
          .atv {
              color: #060
          }
      }
  }
}
