@import "../../../../../../../base/styles/theme";

@each $key, $value in $common-themes {
    .#{$key} {
        expiry-date {
            .btn-mode-toggle {
                align-items: center;
                display: flex;
                height: 24px;
                justify-content: center;
            }
            .clear-datapicker {
                top: 2px !important;
            }
            input {
                height: 24px !important;
            }
        }
    }
}
