@import "../../../../views/base/styles/theme.scss";
@each $key, $value in $common-themes {
  .#{$key} {
      collection-lookup {
          .wrapper {
              //margin-top: 25px;
              position: relative;
              display: flex;
              width: auto;
              /* margin-top: 25px; */
              /* position: relative; */
              clear: both;

              .title-col {
                  display: inline;
                  float: left;
              }
              .control-col {
                  display: inline;
                  float: left;
                  //background-color: getThemeColor(4, $key);
                  //padding: 5px;
                  .wrapper-controls {
                      max-height: 150px;
                      overflow: auto;
                      position: relative;
                      display: block;
                      //float: right;
                      //margin-top: -32px;
                      .dropdown.select2-wrapper {
                          width: 100%;
                      }
                  }
                  .wrapper-buttons {
                      margin-right: 33px;
                      //padding-top: 8px;
                  }
              }
          }
          //.full-height-width-block.charts-wrapper {
          //    overflow: hidden;
          //    top: 0;
          //    left: 0;
          //    right: 0;
          //    bottom: 40px;
          //    padding: 10px;
          //    padding-bottom: 20px;
          //
          //    .chart-header {
          //        font-size: $basefontsize*2;
          //        text-align: center;
          //        padding-bottom: 10px;
          //    }
          //}
      }
    }
  }
