<search-views
    #viewsComp
    [config]="searchViewsConfig"
></search-views>
<slick-grid #slickGridComp
            class="attachment-grid vertical-align-row small-height-header"
            [config]="searchGridConfig">
</slick-grid>

<div *ngIf="slickGridComp.isGridReady"
     class="dropdown grid-settings-dropdown versionSettingsPopup"
     style="margin-top: 15px; margin-right: 15px; position: fixed; display: none;">
    <ul
        aria-labelledby="simple-btn-keyboard-nav"
        style="display: block; top: 0"
        class="dropdown-menu"
        role="menu">
        <li role="menuitem" *ngIf="slickGridComp.provider.isEditMode()">
            <a class="dropdown-item"
               (click)="slickGridComp.provider.remove($event)"
               aria-disabled="true">
                Remove Item
            </a>
        </li>
    </ul>
</div>
