@import "../../base/styles/theme.scss";

@each $key, $value in $common-themes {
    .#{$key} {
        .dialog-signin {
            padding: 32px;
            max-width: 35rem;
            margin: 0 auto;
            background-color: getThemeColor(6, $key);
            box-shadow: 0 8px 16px rgba(63, 63, 63, 0.05);
            position: relative;

            .okta-login-wrapper {
                display: table;
                .okta-row {
                    display: table-row;
                    .okta-left-dummy {
                        display: table-cell;
                        white-space: nowrap;
                        opacity: 0;
                    }
                    .okta-btn-wrapper {
                        display: table-cell;
                        width: 100%;
                        padding: 4px 0;
                        .okta-login-btn {

                            width: 100%;
                            background-color: getThemeColor(10, $key);
                            padding: 0 12px;
                            transition: all 0.1s ease-in-out;
                            overflow: visible;
                            cursor: pointer;
                            outline: none;
                            color: #fff;
                            height: 32px;
                            position: relative;

                            .okta-loader {
                                opacity: 1;
                                display: block;
                                position: absolute;
                                left: 10px;
                                top: 6px;
                                border: 5px solid rgba(255, 255, 255, 1);
                                border-radius: 50%;
                                animation: spin 1s linear infinite;
                                transform-origin: 50% 50%;
                                transform: rotate(0deg);
                                width: 20px !important;
                                height: 20px;

                                &.okta-load {
                                    border-top: 5px solid rgba(255, 255, 255, 0);
                                }
                            }
                            .okta-login-title {
                                height: 100%;
                                width: 100%;
                                text-align: center;
                                display: block;
                                line-height: 32px;
                                font-family: "sinkin_sans500_medium", "Roboto", sans-serif !important;
                                font-weight: normal;
                            }
                        }
                    }
                }
            }

            .autologin-overlay {
                position: absolute;
                background-color: getThemeColor(6, $key);
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                text-align: center;
                padding-top: 107px;
            }

            .qr-code-wrapper {
                display: block!important;

                .qr-code-container {
                    height: 200px;
                    text-align: center;

                    .qrcode {
                        height: 100%;
                        img {
                            height: 100%;
                        }
                    }
                }
                .raw-qr-code-header {
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 18px;
                    margin-bottom: 15px;
                    text-align: center;
                }
                .raw-qr-code-message {
                    color: getThemeColor(2, $key);
                    margin-top: 10px;
                }
                .raw-qr-code {
                    text-align: center;
                    font-size: 18px;
                    font-weight: bold;
                    margin: 10px 0 35px 0;
                }
            }
            .form-grid {
                display: table;
                .error {
                    color: #ffffff;
                    background-color: getThemeColor(13, $key);
                    padding: 8px 16px;
                    margin-bottom: 16px;
                    display: table-caption;
                    width: 100%;
                    word-break: break-word;
                    .err-more-btn{
                        position: relative;
                        display: inline-block;
                        float: right;
                        cursor: pointer;
                        text-decoration: underline;
                    }
                    .err-info-popup{
                        position: absolute;
                        top: 100%;
                        left: 100%;
                        width: 0;
                        height: 0;
                        padding: 0;
                        opacity: 0;
                        overflow-y: auto;
                        border: none;
                        border-bottom: 1px getThemeColor(22, $key) solid;
                        color: getThemeColor(16, $key);
                        background-color: getThemeColor(6, $key);
                        box-shadow: 0 8px 16px rgba(63, 63, 63, 0.05);
                        transition: 0.2s ease-in-out;
                        z-index: 2;
                        &.visible{
                            display: block;
                            width: 400px;
                            height: 300px;
                            padding: 8px 16px;
                            opacity: 1;
                        }
                    }
                }

                .form-grid-row {
                    display: table-row;


                    div {
                        width: 100%;
                        padding: 4px 0;
                    }
                    label {
                        white-space: nowrap;
                    }
                    label, div {
                        display: table-cell;
                    }
                    .row-actions {
                        align-items: baseline;
                        justify-content: space-between;
                        display: flex;
                        margin-top: $baseline;
                        padding: 0;
                    }
                    .field {
                        width: 100%;
                    }
                    [type="checkbox"] {
                        margin-right: 8px;
                    }
                    button {
                        margin-top: $baseline;
                    }
                }
            }

            .forgot-password-wrapper{

                a {
                    color: inherit;
                    text-decoration: none;
                    opacity: 0.6;
                    margin: 0;
                    padding-top: 8px;

                    &:hover {
                        opacity: 1;
                        cursor: pointer;
                    }
                }
            }
        }
        .loader-login {
            border: 4px solid getThemeColor(30, $key);
            border-top: 4px solid getThemeColor(31, $key);
            border-radius: 50%;
            animation: spin 1s linear infinite;
            transform-origin: 50% 50%;
            transform: rotate(0deg);
            width: 3px !important;
        }

        button>.loader-login {
            padding: 4px 0 4px 12px!important;
        }

        .forgot {
            color: getThemeColor(11, $key)!important;
            text-decoration: underline!important;
        }

        footer {
            position: absolute;
            bottom: 0;
            vertical-align: top;
            display: block;
            width: 100%;
            text-align: center;

            p, a, li, ul {
                font-size: 10px;
            }
            nav > ul {
                max-width: 30rem;
            }
            .submenu {
                top: auto!important;
                bottom: 0;
            }
        }

        .login-screen {
            .main-logo {
                height: auto;
                width: auto;
                max-width: 300px;
                max-height: 120px;
                margin: 0 auto 45px;
                display: block;
            }

            .login-terms-wrapper {
                position: fixed;
                z-index: 1000;
                background: rgba(0,0,0,0.7);
                display: block;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;

                .terms {
                    width: 40%;
                    height: 50%;
                    position: relative;
                    padding: 5px;
                    margin: 0 auto;
                    top: 150px;
                    background: getThemeColor(3, $key);
                    box-shadow: 0px 0px 20px rgba(0, 0, 0, 70%);

                    .tc-title {
                        line-height: 32px;
                        text-align: center;
                        font-size: 18px;
                    }
                    .tc-body {
                        height: calc(100% - 72px);
                        padding: 10px;
                        overflow-x: hidden;
                        overflow-y: scroll;
                        width: 100%;
                        resize: none;
                        outline: none;
                        border: none;
                        line-height: 18px;
                    }
                    .tc-buttons {
                        height: 40px;
                        padding: 4px;

                        .tc-accept {
                            float: right;
                        }

                        .tc-decline {

                        }
                    }
                }
            }
        }
    }
}



