@import "../../../../../../views/base/styles/theme";
@import "../../../../../../views/base/styles/blocks/inputs";
@import "../../../../../../views/base/styles/blocks/buttons";
@import "../../../../../../views/base/styles/blocks/nav";
@import "../../../../../../views/base/styles/blocks/nav.tabbed";
@import "../../../../../../views/base/styles/blocks/rows";

@each $key,
$value in $common-themes {
  .#{$key} {
    save-layout-modal {
      .save-layout-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: 15px;

        .modal-overlay {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background: getThemeColor(3, $key);

          .spinner {
            width: 50px;
            height: 50px;
            display: block;
            position: absolute;
            left: calc(50% - 25px);
            top: calc(50% - 25px);
          }
        }

        .save-layout-fields {
          width: 100%;
          position: relative;
            display: block;

          label {
            height: 32px;
            line-height: 32px;
            cursor: pointer;
            display: inline-block;

              input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
              input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }

            input {
              cursor: pointer;
              margin-left: 10px;
            }
          }
          input[type='text'] {
            width: 100%;
            padding-right: 32px;
          }
          i {
            position: absolute;
            top: 0;
            right: 0;
            width: 32px;
            height: 32px;
            line-height: 32px;
            opacity: 0.3;
            cursor: pointer;

            &:before {
              margin-left: 5px;
              vertical-align: -4px;
            }

            &:hover {
              opacity: 0.8;
            }
          }
        }

        button {
          margin-top: 10px;
        }
      }
    }
  }
}
