@import "../../../../../../views/base/styles/theme";

@each $key,
$value in $common-themes {
    .#{$key} {
        .pgm-media-status-formatter-comp-wrapper {
            .value {
            }
            .custom-tag {
                display: inline-block;
                position: relative;
                height: 16px;
                font-size: 13px;
                border-radius: 8px;
                padding: 1px 6px 0 6px;
                margin-top: 1px;
                color: getThemeColor(2, $key);
                //.dot-bg{
                //    height: 8px;
                //    width: 8px;
                //    position: absolute;
                //    top: 4px;
                //    left: 4px;
                //    border-radius: 50%;
                //    background-color: getThemeColor(3, $key);
                //}
            }

        }

        //.slick-cell.selected .pgm-media-status-formatter-comp-wrapper {
        //    .dot-bg{
        //        background-color: getThemeColor(10, $key);
        //    }
        //}

    }
}
