<li dropdown class="dropdown">
    <a class="no-label user-btn" [attr.title]="data.FullName">
        <i class="icons-user icon"></i>
    </a>
    <div class="submenu dialog dialog-user" style="top: 100%">
        <div class="row-item pb-0">
            <h2>{{data.FullName}}</h2>
        </div>
        <div class="row-item pb-0">
            <!--img class="user-photo" src="http://placehold.it/250x350"-->
            <div class="additional">
                <button [routerLink]="['profile']" class="mb-1">
                    {{ 'base.profile.to_profile' | translate }}
                </button>
                <profile-colorschemas
                    (changedColorSchema)="onChangeColorSchema($event)"></profile-colorschemas>
                <!--<div *ngIf="window.IMFX_VERSION === 'dev_version'" class="m-1">-->
                    <!--<div class="radio">-->
                        <!--Debug mode: <input type="checkbox" [checked]="errorManagerProvider.isEnabled"-->
                                           <!--(change)="setDebugMode($event)"/>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <button class="full-width logout" (click)="logout()">
            {{ 'base.logout' | translate }}
        </button>
    </div>
</li>


