<div #settingsGroup class="settings-group">

    <div class="settings-group-head">
        <div class="add-btn-wrapper">
            <button *ngIf="!error" (click)="addSettingsGroup()" title="{{ 'common_hints.add' | translate }}" class="add-btn">
                <i class="icons-add icon"></i>
                {{"common.add" | translate}}
            </button>
            <button [disabled]="!(!error && selectedData)" (click)="cloneGroup()" title="{{ 'common_hints.clone' | translate }}" class="add-btn" style="margin-left: 5px;">
                {{"common.clone" | translate}}
            </button>
        </div>
        <form  [formGroup]="searchForm" (ngSubmit)="onSubmitSearch()" class="form-input">
            <input
                class="input"
                type="text"
                name="query"
                formControlName="query"
                placeholder="Search..."
                autocomplete="off"
            >
            <div class="clear-dataset-filter" (click)="onClearQuery()">
                <i class="icons-cross icon"></i>
            </div>
        </form>
    </div>

    <div class="settings-group-grid-wrapper">
        <div id="externalWrapperSettingsGroupsGrid" style="height: 100%;">
            <slick-grid #settingsGroupGrid
                        [config]="settingsGroupGridOptions" class="small-height-header">
            </slick-grid>
        </div>
    </div>

    <div *ngIf="error" class="repeat-btn-wrapper">
        <h2>{{'settings_group.error' | translate}}</h2>
        <button (click)="clickRepeat()">{{'settings_group.repeat' | translate}}</button>
    </div>

</div>
<overlay #overlayGroup [mode]="true" (isError)="isError($event)" [zIndex]="100"></overlay>
