@import "../../../../../../views/base/styles/theme.scss";

@each $key,
$value in $common-themes {
    .#{$key} {
        .production-list-tab {
            height: 100%;

            &__wrap {
                height: 100%;
                display: flex;
                flex-direction: column;
            }

            &__head {
                display: flex;
            }

            &__row {
                display: flex;
                flex-direction: row;
                height: calc(100% - 40px);
            }

            &__col {
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 100%;

                &-left {
                    //width: 65%;
                    //border-right: 1px solid getThemeColor(9, $key);
                    //padding-right: 10px;
                }

                &-right {
                    //padding-left: 10px;
                }

            }

            &__top {
                height: 100%;
            }

            &__bottom {
                height: 100%;
                padding: 0 5px;

                & .tab-content {
                    height: calc(100% - 35px);

                    & tab {
                        height: 100%;
                    }
                }
            }
        }

        .production-list-controls {
            display: flex;
            margin: -5px;
            width: calc(100% - 35px);
            &__item {
                padding: 5px;
                display: none;
            }

            &--left {
            }

            &--center {
                //border-left: 1px solid getThemeColor(9, $key);
                margin-left: 20px;
            }

            &--right {
                margin-left: auto;
            }
            .make-list-bnt {
                width: 85px;
            }

            .completed {
                background-color: getThemeColor(12, $key) !important;
            }

            .rejected {
                background-color: #bd0606 !important;
            }

            .started {
                background-color: #137777 !important;
            }

            .failed, .aborted {
                background-color: getThemeColor(13, $key) !important;
            }

            .wish {
                background-color: getThemeColor(7, $key) !important;
            }

            .restarted {
                background-color: #873EAD !important;
            }

            .in-production {
                background-color: #0FAEB0 !important;
            }

            .publishing-edl {
                background-color: #5a7b73 !important;
            }
        }

        .production-list-table {
            height: 100%;

            .r0 {
                display: flex;
            }
        }

        .table-bottom {
            display: flex;
            flex-direction: column;
            height: 100%;

            &__grid {
                height: 100%;
            }
        }

    }
}
