@import "../../base/styles/theme.scss";
@each $key,
$value in $common-themes {
    .#{$key} {
        dashboard {
            .lm_header .lm_controls {
                //z-index: 105;
            }

            .lm_goldenlayout {
                background: none;
            }

            .full-height-width-block {
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                padding: 10px;
            }

            .common-dashboard {
                top: 0;
                bottom: 0;
                position: absolute;
                width: 100%;
                box-sizing: border-box;
                overflow: hidden;
                display: flex;

                .empty {
                    display: none;
                }
                .no-menu .gl-layout {
                    left: 0px;
                }
                .gl-layout {
                    position: absolute;
                    height: 100%;
                    //z-index: 10;
                    left: 40px;
                    top: 10px;
                    bottom: 0;
                    right: 0;
                }
                .empty-layout {
                    position: absolute;
                    //z-index: 10;
                    left: 20px;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    h2 {
                        text-align: center;
                        line-height: 100vh;
                    }
                }
                .empty-layout-menu-opened {
                    left: 220px;
                }
                .lm_header {
                    border-bottom: 0;
                }
                .lm_content {
                    border-top: 0;
                }
                .menu-opened {
                    .gl-layout {
                        left: 210px;
                    }
                }
                .lm_splitter {
                    transition: background 0.2s ease-in-out;
                }
                .lm_splitter.lm_horizontal {
                    width: 2px!important;
                    margin: 0 4px;
                    .lm_drag_handle {
                        cursor: url(getThemeIcon(1, $key)) 7 0, auto;
                    }
                }
                .lm_splitter.lm_vertical {
                    height: 2px!important;
                    margin: 4px 0;
                    .lm_drag_handle {
                        cursor: url(getThemeIcon(2, $key)) 7 0, auto;
                    }
                }
                .lm_splitter,
                .lm_splitter:hover {
                    background: getThemeColor(10, $key);
                ;
                }
                .lm_splitter.lm_vertical .lm_drag_handle {
                    height: 12px;
                }
                .lm_splitter.lm_horizontal .lm_drag_handle {
                    width: 12px;
                }

                .lm_header ul.lm_tabs li:first-child:nth-last-child(1) .lm_close_tab {
                    display: none !important;
                }
                .lm_header ul.lm_tabs li:first-child:nth-last-child(1):hover {
                    .lm_close_tab {
                        display: block !important;
                    }
                }
                .lm_tabs .lm_tab:hover,
                .lm_tabs .lm_tab.lm_active,
                .lm_tabs .lm_tab,
                .lm_header,
                .lm_items,
                .lm_item.lm_stack,
                .lm_content {
                    background: getThemeColor(4, $key)!important;
                }
                .lm_tab.lm_active .lm_title {
                    line-height: 31px;
                    border-bottom: getThemeColor(7, $key) 2px solid;
                }
                .lm_tab {
                    border: 0;
                    box-shadow: none!important;
                    padding-left: 0;
                    padding-bottom: 3px!important;
                    position: relative!important;
                }
                .lm_header {
                    margin: 0 12px;
                    border-bottom: getThemeColor(22, $key) 1px solid!important;
                    font-size: 11px;
                    white-space: nowrap;
                    height: 35px!important;
                    z-index: auto;
                    ul.lm_tabs {
                        margin-left: 0;
                        margin-right: 0;
                        margin-top: 4px;
                        li {
                            text-transform: uppercase;
                            letter-spacing: 0.1rem;
                        }
                        .lm_tab {
                            height: 25px !important;
                            color: getThemeColor(2, $key);
                            display: flex;
                            align-items: center;
                            padding-right: 25px!important;
                            .lm_title {
                                display: inline-block;
                                overflow: hidden;
                                font-size: $basefontsize - 1px;
                                font-weight: normal;
                                text-overflow: ellipsis;
                                font-family: 'sinkin_sans500_medium', 'Roboto', sans-serif;
                            }
                            .lm_close_tab {
                                background: none;
                                top: -4px;
                                height: 32px;
                                width: 28px;
                                line-height: 32px;
                                right: -3px;
                                button.icon-button {
                                    height: 5px;
                                    line-height: 0px;
                                }
                            }
                        }
                        .lm_tab.lm_active,
                        .lm_tab:hover {
                            color: getThemeColor(16, $key);
                        }
                        li .lm_close_tab {
                            display: none !important;
                        }
                        li:hover .lm_close_tab {
                            display: block !important;
                        }
                    }
                    .lm_controls {
                        margin-top: 0;
                        li {
                            opacity: 1;
                        }
                    }
                    .lm_close {
                        background: none;
                        height: 32px;
                        line-height: 32px;
                        button.icon-button {
                            height: 32px;
                            line-height: 32px;
                        }
                    }
                    .lm_tabdropdown:before {
                        border: none;
                    }
                    .lm_tabdropdown {
                        margin-right: 5px;
                        margin-left: 5px;
                        height: 32px;
                        line-height: 32px;
                        padding: 0 2px;
                        width: 26px;
                    }
                    .lm_tabdropdown:active,
                    .lm_tabdropdown:focus {
                        background: getThemeColor(6, $key);
                    }
                    .icon:hover {
                        opacity: 1;
                    }
                    .icon-button {
                        padding: 0 2px;
                    }
                    .lm_tabdropdown_list {
                        position: absolute;
                        z-index: 2;
                        // width: auto;
                        top: 44px;
                        right: 26px;
                        flex-direction: column;
                        white-space: nowrap;
                        // max-height: 0;
                        // opacity: 0;
                        overflow: hidden;
                        transition: 0.2s ease-in-out;
                        background-color: getThemeColor(6, $key);
                        box-shadow: 0 8px 16px rgba(63, 63, 63, 0.05);
                        margin-left: 0;
                        border-bottom: 1px getThemeColor(22, $key) solid;
                        transform: translateY(-12px);
                        //pointer-events: none;
                        .lm_tab {
                            line-height: 32px;
                            border-bottom: 2px solid transparent;
                            text-transform: uppercase;
                            letter-spacing: 0.1rem;
                            display: flex;
                            height: 32px;
                            border-bottom: 2px solid transparent;
                            padding: 0 12px;
                            background: transparent;
                            width: 100%;
                            .lm_title {
                                width: auto;
                            }
                        }
                        .lm_tab:hover {
                            background-color: #2a8cea;
                            color: #fff;
                        }
                    }
                }
                .lm_content {
                    border: 0;
                    padding: .75rem 1.25rem;
                    width: /*calc(100% - 1.25rem)*/
                        100%!important;
                    height: 100% !important;
                }
                .lm_goldenlayout {
                    background: getThemeColor(3, $key);
                }
                &.menu-opened {
                    .toggler {
                        left: 210px;
                    }
                    .boards-menu {
                        width: 200px;
                        padding: 10px 10px 0 10px;
                        button.layout-manager-wrapper {
                            width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            padding-right: 25px;
                            padding-left: 25px;
                            i {
                                position: absolute;
                                right: 4px;
                                top: 7px;
                            }
                        }
                        .layout-manager-menu {
                            width: 100%;
                        }
                    }
                    .gl-layout {
                        left: 248px;
                    }
                }

                .toggler {
                    position: absolute;
                    width: 28px;
                    height: 28px;
                    left: 10px;
                    top: 10px;
                    opacity: 0.6;
                    z-index: 1;
                    cursor: pointer;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 90% auto;
                    background-color: getThemeColor(26, $key);

                    &:hover {
                        opacity: 1;
                    }

                    .icon {
                        position: relative;
                        left: 3px;
                        top: 4px;
                    }
                }

                .boards-menu {
                    height:100%;
                    overflow: hidden;
                    overflow-y: auto;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 0px;
                    padding: 0;
                    box-sizing: border-box;

                    .boards-header {
                        text-align: center;
                        font-size: 12px;
                        font-weight: bold;
                        padding: 10px;
                        color: getThemeColor(1,$key);
                    }

                    .boards-subheader {
                        text-align: center;
                        font-weight: normal;
                        padding: 10px;
                        padding-top: 0;
                        font-size: 10px;
                        color: getThemeColor(1,$key);
                    }

                    .board-item {
                        cursor: move;
                        width: 100%;
                        margin-bottom: 5px;
                    }
                }

                .gl-layout {
                    position: absolute;
                    top: 10px;
                    bottom: 0;
                    left: 48px;
                    height: 100%;
                    right: 0;
                }
            }
            .settings-wrapper {
                position: absolute;
                top: 0;
                right: -5px;
                z-index: 105;

                .controls-wrapper {
                    //z-index: 200;
                    background: getThemeColor(3,$key);
                    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);

                    .control-wrapper {
                        box-sizing: border-box;
                        width: 100%;
                        padding: 5px 20px;
                        p {
                            color: getThemeColor(1, $key);
                            margin: 0;
                        }
                        select,
                        input[type='text'] {
                            border-radius: 5px;
                            box-sizing: border-box;
                            padding: 5px 10px;
                            border: 1px solid getThemeColor(5, $key);
                            margin: 0;
                            margin-top: 5px;
                        }
                        select {
                            width: 100%;
                        }

                        input[type='checkbox'] {
                            width: 20px;
                            height: 20px;
                            display: inline-block;
                            margin-top: 10px;
                            cursor: pointer;
                        }
                    }


                    .buttons-row {
                        font-size: 0;

                        div {
                            font-size: $basefontsize*1.5;
                            display: inline-block;
                            width: 50%;
                            text-align: center;
                            box-sizing: border-box;
                            padding: 5px 20px 10px 20px;
                            opacity: 0.6;

                            &:hover {
                                opacity: 1;
                            }
                        }
                        .icons-check:before {
                            color: getThemeColor(12, $key);
                            font-size: 30px;
                            opacity: 1;
                        }
                        .icons-closesmall:before {
                            color: getThemeColor(13, $key);
                            font-size: 30px;
                            opacity: 1;
                        }
                    }
                }
            }
            .chooseSettings {
                width: 10px;
                height: 10px;
                float: left;
                margin: 5px 5px 0 0;
                cursor: pointer;
                //z-index: 100;
                position: relative;

                .settingsButton {
                    width: 16px;
                    height: 12px;
                    text-align: center;

                    i {
                        vertical-align: top;
                    }
                }
            }
        }
    }
}
