@import "../../../../base/styles/theme.scss";
@each $key, $value in $common-themes {
  .#{$key} {
    .indicator {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid #999999;
      display: inline-block;
    }

    .red {
      background: red;
    }

    .green {
      background: green;
    }
  }
}
