<div class="imfx-file-browser-wrapper h-tab-wrapper">
    <div class="path-wrapper">
        <h1>Path: {{lastResponse && lastResponse.FullPath || ''}}</h1>
    </div>
    <div class="grid-wrapper">
        <slick-grid
            #slickGrid
            class="small-height-header vertical-align-row"
            style="width: 100%; height: 100%;"
            [config]="searchGridConfig"
        ></slick-grid>
        <div *ngIf="showOverlay" class="modal-overlay"><div class="spinner"></div></div>
    </div>
</div>

