@import "../../../../base/styles/theme.scss";

@each $key,
$value in $common-themes {
  .#{$key} {
    #consumer-search {

      .grid-stack-item {
        border: none;
      }

      .selected-item {
        .item-content-wrapper,
        .item-content-wrapper:hover {
          background: getThemeColor(10, $key);
          color: getThemeColor(15, $key);
          .icon {
            color: getThemeColor(15, $key);
          }
        }
      }
      .item-content-wrapper {
        color: getThemeColor(1, $key);
        background: getThemeColor(4, $key);
        //height: 192px;
        flex: 1 0 100%;
        flex-direction: row;
        margin-left: 0;
        margin-right: 0;
        display: block;
        position: relative;
        overflow: hidden;
        .thumbnail-wrapper {
          margin: 0;
        }
        &:hover {
          background: getThemeColor(23, $key);
          box-shadow: 0 8px 16px getThemeColor(24, $key);
          .item-actions {
            .icon {
              opacity: 1;
            }
          }
        }
        .thumbnail-container {
          margin: 0;
          padding: 0;
          flex: 1;
          max-width: 100%;
          max-height: 100%;
          cursor: pointer;
          .thumbnail-wrapper {
            max-height: none;
            max-width: none;
          }
        }
        //.content-container {
        //  position: relative;
        //  flex: 1;
          .item-title {
            //max-width: calc(100% - 200px);
            order: -1;
            margin-top: 4px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            h1 {
              margin-bottom: 0.67em;
              cursor: pointer;
            }
          }
          .series-title {
            cursor: pointer;
            text-transform: uppercase;
            margin-bottom: 16px;
          }
          .description {
            overflow: hidden;
            text-overflow: ellipsis;
            height: 64px;
            //white-space: nowrap;
            max-width: 100%;
            line-height: 1.6em;
          }
          .icons {
            position: absolute;
            bottom: 0;
            margin-top: 16px;
            white-space: nowrap;
            overflow: hidden;
            .icon {
              margin-right: 4px;
            }
            .duration {
              margin-right: 16px;
              vertical-align: -5%;
              font-size: 11px;
            }
          }
        //}
        .item-actions {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-left: 32px;
          .icon {
            cursor: pointer;
            &.inbasket {
              color: getThemeColor(7, $key);
              opacity: 1;
            }
          }
        }
        button.more-details-btn {
          height: 100%;
          line-height: normal;
          margin-top: 2px;
          padding-left: 3px;
        }
      }
    }
  }
}
