<div class="full-height-width-block" style="top: 0px !important;">
    <div class="" style="position: relative; height:100%;    display: flex;
    flex-direction: column;">
        <!--Header-->
        <div class="row-header" style="justify-content: flex-start">
            <nav style="width: calc(100% * 0.4)">
                <ul>
                    <li>
                        <h4 style="font-size: 15px;">{{ 'version.small_title' | translate }}</h4>
                    </li>
                </ul>
            </nav>
            <nav>
                <ul style="float: left;">
                    <li *ngIf="hasPermissionByName('views-options')"><label>{{ 'common.view' | translate}}:</label></li>
                    <li [hidden]="!hasPermissionByName('views-modify')">
                        <search-views
                            #viewsComp
                            [config]="searchViewsConfig"
                        ></search-views>
                    </li>
                    <li *ngIf="hasPermissionByName('views-options') || hasPermissionByName('export-options') ">
                        <search-settings
                            [config]="searchSettingsConfig"
                        ></search-settings>
                    </li>
                </ul>
                <ul style="float: left; position: absolute; right: 0px;">
                    <li class="divider"></li>
                    <li>
                        <search-thumbs
                            #searchThumbsComp
                            [config]="searchThumbsConfig"
                        ></search-thumbs>
                    </li>
                    <li class="divider"></li>
                    <li title="Expand/Collapse">
                        <i (click)="expandCollapseAll(expandedAll)" [ngClass]="{
                                        'collapse-all': !expandedAll,
                                        'expand-all': expandedAll
                                    }"
                           class="imfx-icon" style="margin-top: 6px;"></i>
                    </li>
                </ul>
            </nav>
        </div>

        <!--Body-->
        <div style="height: calc(100% - 35px);margin-top:0;">
            <div style="height: 100%;width: 100%;">
                <slick-grid
                    style="width: 100%;  height: 100%"
                    class="version-grid inside-versions-grid vertical-align-row small-height-header"
                    #slickGridComp
                    [config]="searchGridConfig"
                ></slick-grid>
            </div>
        </div>
    </div>
</div>

<!--Settings dropdown-->
<div *ngIf="slickGridComp.isGridReady" class="dropdown grid-settings-dropdown versionSettingsPopup"
     style="margin-top: 15px; margin-right: 15px; position: fixed; display: none;">
    <ul
        aria-labelledby="simple-btn-keyboard-nav"
        style="display: block; top: 0%"
        class="dropdown-menu"
        role="menu"
    >
        <li role="menuitem" *ngIf="hasPermissionByName('media_upload')">
            <a class="dropdown-item"
               (click)="slickGridComp.provider.upload($event)"
               aria-disabled="true">
                {{ 'version.table.dropdown.row.upload' | translate }}
            </a>
        </li>
        <li role="menuitem" *ngIf="hasPermissionByName('remote-media-login')">
            <a class="dropdown-item"
               (click)="slickGridComp.provider.remoteUpload($event)"
               aria-disabled="true">
                {{ 'remote_upload.title' | translate }}
            </a>
        </li>
        <li role="menuitem" *ngIf="hasPermissionByName('preset-workflow')">
            <a class="dropdown-item"
               (click)="slickGridComp.provider.raiseTaskOnMedia()">
                {{ 'version.table.dropdown.row.rw_wizard' | translate }}
            </a>
        </li>
        <li role="menuitem" *ngIf="hasPermissionByName('preset-workflow')">
            <a class="dropdown-item"
               (click)="slickGridComp.provider.raiseTaskOnVersion()">
                {{ 'version.table.dropdown.row.rw_wizard_version' | translate }}
            </a>
        </li>
        <li role="menuitem" *ngIf="hasPermissionByName('clip-editor')">
            <a class="dropdown-item"
               (click)="slickGridComp.provider.clipEditor($event)">
                {{ 'version.table.dropdown.row.clip_editor' | translate }}
            </a>
        </li>
        <li role="menuitem">
            <a class="dropdown-item"
               (click)="slickGridComp.provider.activeWorkflows($event)">
                {{ 'version.table.dropdown.row.active_wf' | translate }}
            </a>
        </li>
        <li role="menuitem" *ngIf="hasPermissionByName('create-subversion')">
            <a class="dropdown-item"
               (click)="slickGridComp.provider.createSubversion($event)">
                {{ 'version.table.dropdown.row.create_subversion' | translate }}
            </a>
        </li>
    </ul>
</div>




