<overlay #overlay></overlay>

<!--<div id="MediaProxyLogPlayerComponentPlayer"></div>-->
<!--<div [innerHtml]="testhtml">-->

<!--</div>-->
<!--{{url|safe}}-->

<!--<iframe>-->
<iframe frameborder="0"
        style="border: none; width: 100%; height: 100%; position: absolute;" [src]="src|safe"></iframe>
<!--</iframe>-->

<!--<div id="rce-page-wrapper">-->
<!--<div class="imfx-detail-btns">-->
<!--<nav>-->
<!--<ul>-->
<!--<li>-->
<!--<button class="icon-button" title="{{ 'common.back_button' | translate }}" style="margin: -5px 4px;"-->
<!--(click)="clickBack()">-->
<!--<i class="icons-left icon"></i>-->
<!--</button>-->
<!--</li>-->
<!--&lt;!&ndash;<li class="detail-title">&ndash;&gt;-->
<!--&lt;!&ndash;<h1 title="{{ 'rce.title' | translate:{'id': id} }}">&ndash;&gt;-->
<!--&lt;!&ndash;{{ 'rce.title' | translate:{'id': id} }}&ndash;&gt;-->
<!--&lt;!&ndash;</h1>&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--</ul>-->
<!--</nav>-->
<!--</div>-->
<!--{{url|safe}}-->


