@import "../../../../../../../../../base/styles/theme.scss";
@each $key,
$value in $common-themes {
  .#{$key} {
      .detail-search-by-fields-wrapper {
          padding: 1rem;
          height: 100%;
          .ug-list-item {
              margin: 5px 0;
          }

          .search-fields-wrapper {
              background: getThemeColor(4, $key);
              display: inline-flex;
              flex-direction: column;
              width: 100%;
              margin-right: 3%;
              height: 100%;
              overflow: hidden;
              position: relative;
                vertical-align: top;
              .header {
                  //height: 26px;
                  //line-height: 32px;
                  width: 100%;
                  flex: 0 0 26px;
                  padding: 0 10px;
                  border-bottom: 1px solid getThemeColor(9, $key);
              }
              .inputs {
                  flex: 1;
                  padding: 10px;
                  //height: calc(100% - 32px);
                  overflow-x: hidden;
                  overflow-y: auto;
              }
          }
      }

  }
}

.dark settings-groups-detail-search-by-fields input[type=checkbox]:disabled {
    background-color: #546878;
    border: 2px solid #546878;
}
