@import "../../../../base/styles/theme.scss";
@each $key,
$value in $common-themes {
    .#{$key} {
        .locator-wrapper {
            padding-top: 5px;
            height: 100%;
            ul.nav-tabs {
                border-bottom: getThemeColor(22, $key) 1px solid !important;
            }
        }
    }
}
