@import "../../../../../../../base/styles/theme.scss";

@each $key, $value in $common-themes {
    .#{$key} {

        .user-manager-groups {
            height: 100%;
            //margin-left: 16px;
            position: relative;
            padding-left: 46px;
            padding-top: 48px;
            //&.editonly {
            //    padding-left: 16px;
            //}

            .filter-panel {
                display: flex;
                position: absolute;
                top: 0;
                left: 16px;
                width: calc(100% - 16px);
                .data-filter {
                    flex: 1;
                    padding-right: 28px;
                }

                .hide-disabled-toggle, .hide-passthru-toggle {
                    //flex:0 0 120px;
                    //opacity: 0.5;
                    //outline: none;
                    //background: getThemeColor(4, $key);
                    //&.active {
                    //    opacity: 1;
                    //    background: getThemeColor(5, $key);
                    //
                    //}
                }

                .clear-dataset-filter {
                    cursor: pointer;
                    opacity: 0.5;
                    position: relative;
                    width: 0;
                    top: 6px;
                    right: 26px;
                    &:hover {
                        opacity: 1;
                    }
                }
            }

            .add-new-group {
                position: absolute;
                left: 16px;
                width: 30px;
                height: 30px;
                line-height: 30px;
                padding: 0;
                //background: getThemeColor(4, $key);
                //background-color: rgba(0, 255, 0, 0.2);

                &:hover {
                    background: getThemeColor(5, $key);
                }
                i {
                    transform: rotate(45deg);
                    display: block;
                    width: 100%;
                }

            }

            .remove-group {
                @extend .add-new-group;
                background-color: rgba(255, 0, 0, 0.5);
                top: 78px;
                i {
                    transform: rotate(0deg);
                    display: block;
                    width: 100%;
                }
            }

            .select-table-message {
                background: getThemeColor(4, $key);
                height: 100%;
                width: 100%;
                position: absolute;
                left: 16px;
                top: 0;
                z-index: 10;

                span {
                    display: block;
                    opacity: 0.6;
                    line-height: 32px;
                    width: 100%;
                    text-align: center;
                    position: relative;
                    top: calc(50% - 16px);
                }
            }

            .user-manager-groups-grid-wrapper{
                width: 100%;
                height: 100%;
                background: getThemeColor(4, $key);
            }
            .slick-grid-wrapper {
                .slick-header-column,
                .slick-group-header-column,
                .slick-header-column.ui-state-default,
                .slick-group-header-column.ui-state-default{
                    height: 30px;
                    line-height: inherit;
                }
                .slick-cell,
                .slick-headerrow-column,
                .slick-footerrow-column{
                    border: none;
                    border-right: 1px solid getThemeColor(22, $key);
                }
                checkbox-formatter-comp{
                    .wrapper{
                        text-align: center;
                    }
                }
            }

            grid-column-remove-component .icons-closedelete{
                position: static;
                display: inline-block;
                margin-right: 14px;
            }
        }
    }
}
