@import "../../../../../views/base/styles/theme.scss";

@each $key,
$value in $common-themes {
    .#{$key} {
        facets-page {
            .media-facets {
                height: 100%;
                background-color: getThemeColor(4, $key);
                h2 {
                    cursor: pointer;
                    background-color: getThemeColor(3, $key);
                    //opacity: 0.8;
                    &:hover {
                        //opacity: 1;
                    }
                }
            }

            .panel.card {
                padding: 12px;
                position: relative;
            }

            .controls {
                display: flex;
                position: absolute;
                right: 12px;
                top: 18px;
                .clear {
                    margin-right: 5px;
                }
            }
        }

    }
}
