@import "../../../../../../views/base/styles/theme";
@each $key,
    $value in $common-themes {
    .#{$key} {
        .slick-cell {
            .status-formatter-wrapper {
                i:before {
                    font-size: 18px;
                }
                span {
                    vertical-align: top;
                    line-height: 20px;
                }
            }
        }
    }
}
