<div class="overview-wrapper">
    <h1>
        {{ 'profile.overview.title' | translate }}
    </h1>

    <div class="row placeholders">
        <div class="center-*-block">
            <div class="row">
                <div class="col-md-5 text-xs-right">
                    <label>
                        {{ 'profile.overview.user_label' | translate }}
                    </label>
                </div>
                <div class="col-md-7 text-xs-left">
                    {{data.FullName}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 text-xs-right">
                    <label>
                        {{ 'profile.overview.image_label' | translate }}
                    </label>
                </div>
                <div class="col-md-7 text-xs-left">
                    <!--img src="http://placehold.it/200x200" class="img-fluid img-circle"-->
                </div>
            </div>
            <!--<div class="row">-->
                <!--<div class="col-md-5 text-xs-right">-->
                    <!--<label>-->
                        <!--{{ 'profile.overview.email_label' | translate }}-->
                    <!--</label>-->
                <!--</div>-->
                <!--<div class="col-md-7 text-xs-left">-->
                    <!--<span class="text-muted">kenny@gmail.com</span>-->
                <!--</div>-->
            <!--</div>-->
            <div class="row">
                <div class="col-md-5 text-xs-right">
                    <label>
                        {{ 'profile.overview.language_label' | translate }}
                    </label>
                </div>
                <div class="col-md-7 text-xs-left">
                    <imfx-language-switcher [asLink]="false"></imfx-language-switcher>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 text-xs-right">
                    <label>
                        {{"user_management.users.fields.expiry_date" | translate}}:
                    </label>
                </div>
                <div class="col-md-7 text-xs-left">
                    {{getDate()}}
                </div>
            </div>
        </div>
    </div>
</div>
